[Unit]
Description=All we hear is RadioPi...
After=multi-user.target

[Service]
Environment=PYTHONUNBUFFERED=1
ExecStart=/opt/radiopi/.venv/bin/radiopi
KillSignal=SIGINT
User=root
WorkingDirectory/opt/radiopi

[Install]
WantedBy=multi-user.target
